@font-face {
    font-family: OpenSans;
    src: url(./fonts/static/OpenSans-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: OpenSans, Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    width: 100%;
    height: 50px;
    background-color: #121214;
    border-bottom: 1px solid #ffffff3a;
    z-index: 10;
    position: fixed;
}
header #logo-header{
    width: 10em;
    height: auto;
}
header nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: end;
    gap: 40px;
}
header ul li{
    display: inline;
}
header li a{
    color: #FFFFFF;
    font-size: 17px;
    text-decoration: none;
}
header #login-btn{
    width: 5.5em;
    height: auto;
    font-size: 20px;
    border: none;
    border-radius: 2px;
    background-color: #4867df;
    color: #FFFFFF;
}
header #login-btn i{
    font-size: 0.9em;
    margin-right: 0.5em;
}
header #login-btn:hover{
    background-color: #2d44a0;
    cursor: pointer;
}

.fundo-sobreposicao{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #1a154ad3, #502659b0);
    backdrop-filter: blur(10px);
    z-index: 1000;
}
.login-container{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.753);
    box-shadow: 0px 2px 9px rgba(235, 230, 236, 0.9);
    padding: 30px;
    border-radius: 8px;
    z-index: 1001;
}
.login-container h2{
    color: #fff;
    font-size: 35px;
    margin-bottom: 30px;
}
.login-form{
    text-align: center;
}
.login-form input, .login-form button{
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #CCC;
}
.login-form button{
    margin-top: 20px;
    background-color: rgb(143, 4, 185);
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 20px;
    width: 200px;
}
.login-form button:hover{
    background-color: rgb(94, 1, 122);
}

#secao-realizar-postagem{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #dce3ff;
    height: auto;
    padding-top: 15vh;
}
#envelope-secao-realizar-postagem{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 0 2px 5px #00000062;
    width: 70%;
    margin-bottom: 30px;
    padding-bottom: 8vh;
}
#envelope-secao-realizar-postagem hr{
    width: 80%;
    border: 1px solid #f1f1f1;
}

#envelope-secao-realizar-postagem h1{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
}
#envelope-secao-realizar-postagem p{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #848484;
}
#envelope-secao-realizar-postagem #envelope-formulario{
    display: flex;
    width: 80%;
}
#envelope-secao-realizar-postagem #form-realizar-postagem{
    margin-top: 30px;
    width: 100%;
}
#envelope-secao-realizar-postagem #form-realizar-postagem label{
    display: block;
    width: 30%;
    font-size: 18px;
    font-weight: bold;
    text-align: start;
    margin-bottom: 10px;
    justify-content: center;
}
#envelope-secao-realizar-postagem #form-realizar-postagem input, textarea{
    width: 90%;
    height: 20px;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 0px 5px #00000054;
    margin-bottom: 20px;
    padding: 10px;
    text-align: flex-start;
}
#envelope-secao-realizar-postagem #form-realizar-postagem .caixa-input-checkbox{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
#envelope-secao-realizar-postagem #form-realizar-postagem .caixa-input-checkbox input{
    border: none;
    box-shadow: none;
    margin-bottom: 1px;
    text-align: flex-start;
    background-color: #303d74;
    width: 15%;
}
#envelope-secao-realizar-postagem #form-realizar-postagem .caixa-input-checkbox label{
    font-size: 14px;
    font-weight: bold;
    text-align: start;
    margin-bottom: 1px;
    width: 85%;
}
#envelope-secao-realizar-postagem #form-realizar-postagem .caixa-input-checkbox .item-checkbox{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    width: 18%;
}

#envelope-secao-realizar-postagem #btn-formulario{
    width: 15vw;
    height: 6vh;
    font-size: 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    background-color: #4867df;
    color: #FFFFFF;
    margin-top: 20px;
    margin-left: 21vw;
}
#envelope-secao-realizar-postagem #btn-formulario:hover{
    background-color: #2d44a0;
    cursor: pointer;
}

.lateral{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    margin-right: -25px;
}
.lateral #barra-de-busca{
    width: 291px;
    height: 50px;
    background-color: #FFFFFF;
    color: #848484;
    padding: 20px;
    border: none;
    box-shadow: 0 2px 5px #00000062;
    margin-bottom: 30px;
}
.lateral #categorias{
    background-color: #FFFFFF;
    box-shadow: 0 2px 5px #00000062;
    width: 291px;
    border-radius: 10px 10px 0 0;
}
.lateral #categorias #titulo{
    background-color: #4867df;
    padding: 15.5px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    border-radius: 10px 10px 0 0;
}
.lateral #categorias ul{
    list-style: none;
}
.lateral #categorias ul li{
    padding: 17.8px;
    border-bottom: 1px solid #DBDBDB;
    transition: transform 0.3s ease;    /* Transição suave ao passar o mouse */
}
.lateral #categorias ul li:hover{
    transform: scale(1.1);  /* Aumenta o texto em 10%*/
}
.lateral #categorias ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #000000;
}

footer{
    height: auto;
    background-color: #000000;
}
.envelope-rodape{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
footer img{
    width: 120px;
    height: auto;
}
.envelope-rodape #envelope-rodape-meio{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.envelope-rodape #envelope-rodape-meio nav{
    width: 45%;
}
.envelope-rodape #envelope-rodape-meio ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.envelope-rodape #envelope-rodape-meio ul li a{
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
}
.envelope-rodape #envelope-rodape-meio ul li a:hover{
    color: #9db0ff;
}
.envelope-rodape #envelope-rodape-meio p{
    font-size: 13px;
    margin-top: 20px;
    color: #a3a3a3;
}