@font-face {
    font-family: OpenSans;
    src: url(./fonts/static/OpenSans-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: OpenSans, Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    width: 100%;
    height: 50px;
    background-color: #121214;
    border-bottom: 1px solid #ffffff3a;
    z-index: 10;
    position: fixed;
}
header #logo-header{
    width: 10em;
    height: auto;
}
header nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: end;
    gap: 40px;
}
header ul li{
    display: inline;
}
header li a{
    color: #FFFFFF;
    font-size: 17px;
    text-decoration: none;
}
header #login-btn{
    width: 5.5em;
    height: auto;
    font-size: 20px;
    border: none;
    border-radius: 2px;
    background-color: #4867df;
    color: #FFFFFF;
}
header #login-btn i{
    font-size: 0.9em;
    margin-right: 0.5em;
}
header #login-btn:hover{
    background-color: #2d44a0;
    cursor: pointer;
}

header .dropdown{
    position: relative;
    list-style: none;
}
header .dropdown .nome-usuario{
    width: 100%;
    height: auto;
    margin-right: 50px;
    font-size: 20px;
    border: none;
    border-radius: 2px;
    color: #819cff;
}
header .dropdown .nome-usuario i{
    margin-left: 4px;
    font-size: 16px;
}
header .dropdown li ul{
    position: absolute;
    left: 0;
    background-color: #819cff;
    display: none;
    text-align: left;
}
header .dropdown li ul li{
    width: 150px;
    display: block;
    padding: 7px;
}
header .dropdown li ul a{
    width: 200px;
    font-size: 16px;
    color: #FFFFFF;
}
header .dropdown li ul li:hover{
    background-color: #4867df;
}
header .dropdown li:hover ul,  .dropdown li.over ul{display: block;}

.fundo-sobreposicao{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #1a154ad3, #502659b0);
    backdrop-filter: blur(10px);
    z-index: 1000;
}
#loginContainer{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.753);
    box-shadow: 0px 2px 9px rgba(235, 230, 236, 0.9);
    padding: 30px;
    border-radius: 8px;
    z-index: 1001;
}
#loginContainer h2{
    color: #fff;
    font-size: 35px;
    margin-bottom: 30px;
}
.login-form{
    text-align: center;
}
.login-form input, .login-form button{
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #CCC;
}
.login-form button{
    margin-top: 20px;
    background-color: rgb(143, 4, 185);
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 20px;
    width: 200px;
}
.login-form button:hover{
    background-color: rgb(94, 1, 122);
}

#secao-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 520px;
    padding-top: 4.8em;
    background-color: #121214;
}
#secao-principal .envelope-caixa{
    display: grid;
    grid-template-areas: 
    "a b"
    "a c";
    grid-auto-flow: dense;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 87%;
    width: 80%;
}
.caixa-post-principal{
    width: 100%;
    position: relative;
}
#secao-principal #post-destaque{
    grid-area: a;
    width: 530px;
    height: 450px;
    display: inline-block;  /* Para que a caixa se ajuste ao tamanho da imagem */
    overflow: hidden;   /* Para evitar que a imagem cresça para fora da caixa */
    transition: transform 0.3s ease;    /* Transição suave ao passar o mouse */
}
#secao-principal #post-destaque img{
    width: 530px;
    height: 450px;
    object-fit: cover;
    object-position: 100% ;
}
#secao-principal #post-destaque:hover{
    transform: scale(1.05);  /* Aumenta a imagem em 5% */
}
#secao-principal #post-secundario-topo{
    grid-area: b;
    display: inline-block;  /* Para que a caixa se ajuste ao tamanho da imagem */
    overflow: hidden;   /* Para evitar que a imagem cresça para fora da caixa */
    transition: transform 0.3s ease;    /* Transição suave ao passar o mouse */
}
#secao-principal #post-secundario-topo:hover{
    transform: scale(1.05);  /* Aumenta a imagem em 5% */
}
#secao-principal #post-secundario-topo{
    margin-bottom: 21px;
}
#secao-principal #post-secundario-base{
    grid-area: c;
    display: inline-block;  /* Para que a caixa se ajuste ao tamanho da imagem */
    overflow: hidden;   /* Para evitar que a imagem cresça para fora da caixa */
    transition: transform 0.3s ease;    /* Transição suave ao passar o mouse */
}
#secao-principal #post-secundario-base:hover{
    transform: scale(1.05);  /* Aumenta a imagem em 5% */
}
#secao-principal #post-secundario-topo, #secao-principal #post-secundario-base{
    width: 418px;
    height: 214px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-left: 20px;
}
#secao-principal #post-secundario-topo img, #secao-principal #post-secundario-base img{
    width: 418px;
    height: 214px;
}

#secao-principal .titulo-caixa-post-principal{
    position: absolute;
    top: 68%;
    left: 6%;
    font-size: 35px;
    font-weight: bolder;
    color: #FFFFFF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}
#secao-principal .subtitulo-caixa-post-principal{
    position: absolute;
    top: 81%;
    left: 6%;
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}
#secao-principal .post-secundario .titulo-caixa-post-principal{
    font-size: 18px;
}
#secao-principal .post-secundario .subtitulo-caixa-post-principal{
    font-size: 14px;
}

#secao-post{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    background-color: #dce3ff;
    height: 193vh;
    padding-top: 30px;
}
.envelope-post{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*Define 3 colunas de largura igual*/
    grid-template-rows: repeat(2, 1fr); /*Define 2 linhas de altura auto*/
    gap: 25px; /*Espaçamento entre os elementos*/
    width: 97%;
    height: 100%;
    margin-left: 30px;
}
.envelope-post #btn-ver-mais{
    width: 9em;
    height: auto;
    margin-left: 117.5%;
    margin-bottom: 16%;
    font-size: 20px;
    border: none;
    border-radius: 2px;
    background-color: #4867df;
    color: #FFFFFF;
}
.envelope-post #btn-ver-mais:hover{
    background-color: #2d44a0;
    cursor: pointer;
}

.post-container{
    height: 545px;
    width: 285px;
    display: block;
    background-color: #FFFFFF;
    color: #000000;
    box-shadow: 0 0 5px #0000004b;
    cursor: pointer;
    text-decoration: none;
}

.post-container img{
    width: 285px;
    height: 170px;
    margin-bottom: 10px;
}
.post-container #titulo{
    font-size: 16px;
    font-weight: bold;
    margin: auto;
    margin-bottom: 10px;
    width: 90%;
}
.post-container #data{
    font-size: 14px;
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
    font-weight: lighter;
}
.post-container #texto{
    font-size: 16px;
    width: 90%;
    margin: auto;
    line-height: 22px;
}

.envelope-lateral{
    display: grid;
    grid-template-columns: repeat(1, 1fr); /*Define 3 colunas de largura igual*/
    grid-template-rows: repeat(2, 1fr); /*Define 2 linhas de altura auto*/
    gap: 1px; /*Espaçamento entre os elementos*/
    width: 97%;
    height: 94%;
}
.lateral{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.lateral #barra-de-busca{
    width: 291px;
    height: 50px;
    background-color: #FFFFFF;
    color: #848484;
    padding: 20px;
    border: none;
    box-shadow: 0 0 5px #0000004b;
    margin-bottom: 30px;
}
.lateral #categorias{
    background-color: #FFFFFF;
    box-shadow: 0 0 5px #0000004b;
    width: 285px;
    border-radius: 10px 10px 0 0;
}
.lateral #categorias #titulo{
    background-color: #4867df;
    padding: 15.5px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    border-radius: 10px 10px 0 0;
}
.lateral #categorias ul{
    list-style: none;
}
.lateral #categorias ul li{
    padding: 17.8px;
    border-bottom: 1px solid #DBDBDB;
    transition: transform 0.3s ease;    /* Transição suave ao passar o mouse */
}
.lateral #categorias ul li:hover{
    transform: scale(1.1);  /* Aumenta o texto em 10%*/
}
.lateral #categorias ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #000000;
}

.lateral #posts-mais-lidos{
    background-color: #FFFFFF;
    box-shadow: 0 0 5px #0000004b;
    height: 547px;
    width: 285px;
    border-radius: 10px 10px 0 0;
}
.lateral #posts-mais-lidos #titulo{
    background-color: #4867df;
    padding: 15.5px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    border-radius: 10px 10px 0 0;
}
.lateral #posts-mais-lidos ul{
    list-style: none;
}
.lateral #posts-mais-lidos ul li:first-child{
    height: 141.5px;
    display: flex;
    flex-direction: column;
}
.lateral #posts-mais-lidos ul li:first-child img{
    height: 87px;
    width: 140px;
}
.lateral #posts-mais-lidos ul li:first-child a{
    font-size: 16px;
    font-weight: bold;
    width: 100%;
}
.lateral #posts-mais-lidos ul li{
    padding: 11.75px;
    border-bottom: 1px solid #DBDBDB;
    transition: transform 0.3s ease;    /* Transição suave ao passar o mouse */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.lateral #posts-mais-lidos ul li:last-child{
    border-bottom: none;
}
.lateral #posts-mais-lidos ul li img{
    width: 99px;
    height: 57px;
}
.lateral #posts-mais-lidos ul li:hover{
    transform: scale(1.05);  /* Aumenta o texto em 10%*/
}
.lateral #posts-mais-lidos ul li a{
    text-decoration: none;
    font-size: 16px;
    width: 60%;
    color: #000000;
}

footer{
    height: auto;
    background-color: #000000;
}
.envelope-rodape{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
footer img{
    width: 120px;
    height: auto;
}
.envelope-rodape #envelope-rodape-meio{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.envelope-rodape #envelope-rodape-meio nav{
    width: 45%;
}
.envelope-rodape #envelope-rodape-meio ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.envelope-rodape #envelope-rodape-meio ul li a{
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
}
.envelope-rodape #envelope-rodape-meio ul li a:hover{
    color: #9db0ff;
}
.envelope-rodape #envelope-rodape-meio p{
    font-size: 13px;
    margin-top: 20px;
    color: #a3a3a3;
}